/* mobile setting */
.navbar-brand>img {
    height: 60px;
}

main {
    height: 300px;
    background-image: url(img/sushi.jpeg);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
}

/* ipad 768px */
@media screen and (min-width: 768px) {
    main {
        height:400px;
        justify-content: flex-end;
        padding-right: 30px;
    }
}

/* 992px */
@media screen and (min-width: 992px) {
    .navbar-brand {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .navbar-brand>img {
        height: 80px;
    }
    .nav-link {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.2rem;
        color: rgb(42,42,42) !important;
        letter-spacing: 2px;
    }
    main {
        height: 500px;
    }
    main>div {
        width: 50%;
        background-color: rgba(0,0,0,0.7);
        padding: 20px;
    }
    #sect-popular>div {
        width: 800px;
        margin: 50px auto;
    }
}

/* 1200px */
@media screen and (min-width: 1200px) {
    
}

/* 1400px */
@media screen and (min-width: 1400px) {
    
}